body{ font: 12px/150% arial,Verdana,微软雅黑,宋体;}
body,button, dd, dl, dt, h1, h2, h3, h4, h5, h6, hr, input, li, ol, p, td, textarea, th, ul{ margin:0px; padding:0px;}
input[type="checkbox"],input[type="radio"]{vertical-align:middle;}
input,select{outline:none;}
textarea{ border:1px solid #b7b7b7; color:#404040; resize: none; font-size:12px; padding:1px;}
input[type="text"]{ height:18px; width:118px; font-size:12px; line-height:18px; padding:1px; vertical-align:middle; border:1px solid #b7b7b7;}
/**
diy:去除input的圆角
**/
input{-moz-border-radius: 0 0 0 0;-webkit-border-radius: 0 0 0 0;border-radius: 0 0 0 0;}
a{ color:#000; text-decoration:none;}
a:hover{ color:#000; text-decoration:none;}
.win_good{ width:600px; height:auto; overflow:hidden; padding:7px;}
.win_good input{ float:left;}
ul li{ list-style:none;}
/**登录**/
.pi_cont{}
.good_tl{ height:20px; border-bottom:1px solid #ccc; overflow:hidden;}
.good_pi{ width:auto; padding:0px 5px; margin-right:5px; float:left; cursor:pointer; border:1px solid #666; border-bottom:none; background-color:#666; line-height:20px; color:#fff; border-top-left-radius:3px; border-top-right-radius:3px; -moz-border-top-left-radius3px; -moz-border-top-right-radius:3px; }
.good_pi2{ background-color:#fff; color:#000; border:1px solid #ccc; border-bottom:1px solid #fff;}
.good_cont{ padding-top:5px; padding-bottom:10px; border:1px solid #ccc; border-top:none; }
.good_item{ padding:3px 0px; overflow:hidden;}
.item_sp{ display:block; width:55px; padding:0px 10px 0px 13px; height:22px; float:left; line-height:22px;}
.good_mark{ padding-top:3px; border:1px solid #ccc; margin:0px 5px;}
.win_bm{ margin-top:10px; text-align:right;}

*:focus {outline: none;}
.i_n{ line-height:21px; height:21px; padding:0px 10px; float:left;}
.i_m{ height:21px; float:left;}
.i_r{ width:20px; height:17px; float:left;}
.input-winsame{width:100px; height:18px; border:1px solid #d3d3d3; padding:1px; line-height:18px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;}
/**diy
改变自定义input边框,去除圆角
**/
.input-winsame{ border:1px solid #b7b7b7;-moz-border-radius:0 0 0 0;-webkit-border-radius:0 0 0 0;border-radius:0 0 0 0;}
.div-choose-same{width:18px; height:19px;  border:1px solid #d3d3d3; border-left:none;  cursor:pointer; float:left;}
.div-choose-same a{ display:block; width:18px; height:19px; background:url(/images/R.gif) no-repeat;}
.div-choose-same a:hover{background:url(/images/R.gif) no-repeat 0px -19px;}
.div-choose-same2{background:url(/images/R.gif) no-repeat 0px -19px;}

.toplogo{ height:73px; overflow:hidden; background:url(/images/top_bg.jpg) repeat-x;}
.logo{ width:600px; height:73px; font-size:30px; color:#fff; padding-left:30px; text-shadow:2px 2px 2px #065e9e; line-height:73px; float:left;}
.logo img{}
.logo_w{ width:400px; height:30px; padding-top:20px; padding-left:5px; font-family:"微软雅黑"; font-size:16px; font-weight:bold; float:left; color:#444;}
.topnav{ height:26px; padding-left:10px; padding-top:4px; }
.logo_state{ float:right; padding-right:10px; margin-top:30px; color:#fff;}
.logo_state ul li{ line-height:20px; padding:0px 10px; float:left;}
.logo_state ul li a{ color:#fff; text-decoration:none;}
.logo_state ul li a:hover{ color:#f00; text-decoration:none;}

#tabGoodsInfo td{ padding:5px 5px 5px 0px;}
table td.tname{ width:70px; text-align:right;}
table td.tinp{ width:220px;}
table td.ninp{ width:50px;}
ul.acc{}
ul.acc li{ text-align:center; list-style:none;}
ul.acc li a{ display:block; padding:5px 0px;}
ul.acc li a:hover{ color:#fff; background-color:#0092DC;}

.pur_top{overflow:hidden;}
.pur_a{padding-top:10px; height:30px;}
.pur_top .pur_l{ width:300px; float:left;}
.pur_top table tr td,.pur_dl table tr td{ padding:5px 3px 5px 0px;}
.pur_dl{ border:1px solid #d3d3d3; padding:10px 0px 10px 10px; margin-bottom:5px;}
.pur_dl table td.ptd1{ width:60px; text-align:right;} 
.pur_dl table td.ptd2{ width:130px;}
.pur_dl table td.ptd3{ width:80px; text-align:right;}
.pur_dl table td.ptd4{ width:70px; text-align:right;}

.g_form_ser{ width:55px; height:22px; line-height:normal; padding-left:20px; background:url('/Styles/themes/icons/search.png') no-repeat 3px center; border:1px solid #d3d3d3;}

.left_meu{ width:149px; height:auto;}
.meu_pi{ width:149px; height:36px; text-align:center; font-size:14px; line-height:36px; font-weight:bold; background:url('/images/mu_def.jpg') no-repeat; cursor:pointer;}
.meu_pi2{background:url('/images/mu_on.jpg') no-repeat; color:#fff;}
.meu_pi:hover{ background:url('/images/mu_pass.jpg') no-repeat; color:#000;}

.func_m{ width:900px; overflow:hidden;  padding:70px 0px 0px 100px;}
.func_m .func_pi{ width:80px; height:20px; padding-top:80px; margin-bottom:20px; float:left; margin-right:100px; cursor:pointer; line-height:20px; text-align:center;}
.func_m .contant_in{ background:url('/images/contantin.jpg') no-repeat;}
.func_m .contant_in:hover{ background:url('/images/hover_contantin.jpg') no-repeat;}
.func_m .companypic{ background:url('/images/companypic.jpg') no-repeat;}
.func_m .companypic:hover{ background:url('/images/companypic2.jpg') no-repeat;}
.func_m .pur_in_sh{ background:url('/images/c_rksh2.jpg') no-repeat;}
.func_m .pur_in_sh:hover{ background:url('/images/c_rksh1.jpg') no-repeat;}

.func_m .sold_kp{ background:url('/images/s_kp2.jpg') no-repeat;}
.func_m .sold_kp:hover{ background:url('/images/s_kp1.jpg') no-repeat;}
.func_m .sold_kp_sh{ background:url('/images/s_kpsh2.jpg') no-repeat;}
.func_m .sold_kp_sh:hover{ background:url('/images/s_kpsh1.jpg') no-repeat;}

.func_m .retail_kp{ background:url('/images/l_kp2.jpg') no-repeat;}
.func_m .retail_kp:hover{ background:url('/images/l_kp1.jpg') no-repeat;}
.func_m .retail_kp_sh{ background:url('/images/l_kpsh2.jpg') no-repeat;}
.func_m .retail_kp_sh:hover{ background:url('/images/l_kpsh1.jpg') no-repeat;}

.func_b{ width:100%; border-top:1px solid #b5c0c4; background-color:#d7e9eb; overflow:hidden;}
.func_b .b_l{ width:80px; height:100px; float:left; text-align:center;}
.func_b .b_r{ padding-left:20px; float:left;}
.func_b .b_r ul{ width:auto; float:left; margin-right:100px; padding-top:5px;}
.func_b .b_r ul li{ border-bottom:1px solid #adc2c7; line-height:28px;}

.t_bn{ width:200px; float:left;border:1px solid #ccc; padding:5px;}
.t_bn p{ margin:8px 0px;}
.t_bn_r{ float:right; border:1px solid #ccc; padding:5px;}

.span_module{ display:block; margin-right:40px;}

.tab_com{}
.tab_com tr td{ padding:2px;}

.tab_search{}
.tab_search td{ padding-bottom:5px;}
.tab_search td.s1{ width:60px; text-align:right; padding-right:5px;}
.tab_search td.s2{ width:170px;padding-right:3px;}
.tab_search td.s3{width:70px; text-align:right; padding-right:3px; padding-left:3px;}
.tab_search td.s4{width:80px; text-align:right; padding-right:5px;}
.tab_search td.s5{padding-left:60px;text-align:right; padding-right:3px;}
.tab_search td.s6{text-align:right; padding-right:3px;}

.ser_l{ float:left;}
.ser_r{ float:right;}

